
@{
    ViewData["Title"] = "Index";
}


<hr />
<div class="row">
    <div class="col-lg-4">
        <a asp-area="" asp-controller="BettingAdmin" asp-action="AddorEdit" class="btn btn-info">Create New Game</a>
    </div>
</div>
    

<table class="table">
    <thead>
        <tr>

            <th>
                Start-Time
            </th>
            <th>
                Games
            </th>
            <th>
                1
            </th>
            <th>
                X
            </th>
            <th>
                2
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in (dynamic)ViewData["game_list"])
        {
            <tr>
                <td>

                    @game.GameStartTime
                </td>

                <td>

                    @game.TeamDescription
                </td>

                <td>
                    @game.HomeOdd
                </td>
                <td>
                    @game.DrawOdd

                </td>
                <td>
                    @game.AwayOdd

                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@game.Id" onclick="return confirm('Are you sure you want to delete this record?')"><i class="glyphicon glyphicon-remove"> </i></a>
                    <a asp-action="AddorEdit" asp-route-id="@game.Id"><i class="glyphicon glyphicon-edit"> </i></a>
                </td>


            </tr>

        }

    </tbody>
</table>




